.search-input {
  width: 100%;
}

.search-bar-container {
  display: flex;
  top: 10%;
  width: 100%;
  margin-top: 5px 0;
}

.patients {
  overflow-y: auto;
  width: 100%;
  max-height: 250px;
  background-color: #f0e7e7;
  top: 89px;
  right: -1px;
  box-shadow: 0em 0.1em 0.5em #ccc;
}

.patientHead {
  position: relative;
  border-bottom: 2px solid #eee3e3;
  background-color: #fcfbfb;
  right: -1px;
  box-shadow: 0em 0.01em 0.05em #ccc;
  max-height: 80px;
}

.tags {
  margin-left: -40px;
  font-size: 20px;
}

@media (max-width: 1180px) {
  .main {
    position: absolute;
  }

  .search-bar-container {
    margin-top: 48px;
  }

  .patients {
    position: absolute;
    top: 80px;
  }
}

@media (min-width: 400px) {
  .tags {
    margin-left: -55px;
  }
}
